.body {
    font-family: "Lato", sans-serif;
    max-width: 1200px;
    margin: auto;
    background-color: #f6e8e8;
    padding: 5%;
    line-height: 1.3;
}

.body__header {
    color: crimson;
    font-style: italic;
    font-size: 40px;
    text-shadow: 2px 2px 2px rgb(129, 101, 101);
}