.section {
    box-shadow: 2px 2px 8px #ccc;
    padding: 5px;
    margin-bottom: 20px;
}

.section__title {
    color: rgb(50, 50, 221);
    text-shadow: 1px 1px 2px #9a9ae7;
}

.section__paragraph {
    color: #3c0404;
}

.section__paragraph--highlighted {
    color: teal;
}